<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} - SaaS App</title>
        <!-- <script defer src="/assets/js/htmx.min.js"></script>
        <script defer src="/assets/js/alpine.min.js"></script> -->
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body class="my-auto w-full bg-gray-100">
        {% block body %} {% endblock %}
    </body>
</html>
